/* [project]/src/scss/main.scss.css [app-client] (css) */
*, :before, :after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

:before, :after {
  --tw-content: "";
}

html, :host {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  line-height: inherit;
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

abbr:where([title]) {
  text-decoration: underline dotted;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp, pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button, select {
  text-transform: none;
}

button, input:where([type="button"]), input:where([type="reset"]), input:where([type="submit"]) {
  -webkit-appearance: button;
  background-color: #0000;
  background-image: none;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol, ul, menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

dialog {
  padding: 0;
}

textarea {
  resize: vertical;
}

input::placeholder, textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

button, [role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
  vertical-align: middle;
}

img, video {
  max-width: 100%;
  height: auto;
}

[hidden] {
  display: none;
}

*, :before, :after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #3b82f680;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #3b82f680;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}

.container {
  width: 100%;
}

@media (width >= 640px) {
  .container {
    max-width: 640px;
  }
}

@media (width >= 768px) {
  .container {
    max-width: 768px;
  }
}

@media (width >= 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (width >= 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (width >= 1536px) {
  .container {
    max-width: 1536px;
  }
}

.pointer-events-none {
  pointer-events: none;
}

.invisible {
  visibility: hidden;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

.-bottom-\[1px\] {
  bottom: -1px;
}

.-left-\[20px\] {
  left: -20px;
}

.-right-\[20px\] {
  right: -20px;
}

.bottom-0 {
  bottom: 0;
}

.bottom-4 {
  bottom: 1rem;
}

.bottom-5 {
  bottom: 1.25rem;
}

.bottom-\[0px\] {
  bottom: 0;
}

.bottom-\[28px\] {
  bottom: 28px;
}

.left-0 {
  left: 0;
}

.left-4 {
  left: 1rem;
}

.left-5 {
  left: 1.25rem;
}

.left-\[50\%\] {
  left: 50%;
}

.right-0 {
  right: 0;
}

.top-0 {
  top: 0;
}

.top-4 {
  top: 1rem;
}

.top-\[13px\] {
  top: 13px;
}

.top-\[20px\] {
  top: 20px;
}

.top-\[28px\] {
  top: 28px;
}

.top-\[33px\] {
  top: 33px;
}

.top-\[38px\] {
  top: 38px;
}

.top-\[50px\] {
  top: 50px;
}

.top-\[57px\] {
  top: 57px;
}

.top-\[64px\] {
  top: 64px;
}

.top-\[80px\] {
  top: 80px;
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mb-0\.5 {
  margin-bottom: .125rem;
}

.mb-1 {
  margin-bottom: .25rem;
}

.mb-16 {
  margin-bottom: 4rem;
}

.mb-2 {
  margin-bottom: .5rem;
}

.mb-3 {
  margin-bottom: .75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.ml-4 {
  margin-left: 1rem;
}

.mr-2 {
  margin-right: .5rem;
}

.mt-2 {
  margin-top: .5rem;
}

.mt-3 {
  margin-top: .75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-7 {
  margin-top: 1.75rem;
}

.mt-8 {
  margin-top: 2rem;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.table {
  display: table;
}

.hidden {
  display: none;
}

.h-0 {
  height: 0;
}

.h-1 {
  height: .25rem;
}

.h-16 {
  height: 4rem;
}

.h-4 {
  height: 1rem;
}

.h-5 {
  height: 1.25rem;
}

.h-8 {
  height: 2rem;
}

.h-\[250px\] {
  height: 250px;
}

.h-\[64px\] {
  height: 64px;
}

.h-auto {
  height: auto;
}

.h-fit {
  height: fit-content;
}

.h-full {
  height: 100%;
}

.h-screen {
  height: 100vh;
}

.max-h-\[250px\] {
  max-height: 250px;
}

.max-h-\[40px\] {
  max-height: 40px;
}

.max-h-\[757px\] {
  max-height: 757px;
}

.w-0 {
  width: 0;
}

.w-1 {
  width: .25rem;
}

.w-4 {
  width: 1rem;
}

.w-5 {
  width: 1.25rem;
}

.w-8 {
  width: 2rem;
}

.w-\[10\%\] {
  width: 10%;
}

.w-\[100px\] {
  width: 100px;
}

.w-\[15\%\] {
  width: 15%;
}

.w-\[158px\] {
  width: 158px;
}

.w-\[162px\] {
  width: 162px;
}

.w-\[170px\] {
  width: 170px;
}

.w-\[180px\] {
  width: 180px;
}

.w-\[20\%\] {
  width: 20%;
}

.w-\[200px\] {
  width: 200px;
}

.w-\[25\%\] {
  width: 25%;
}

.w-\[267px\] {
  width: 267px;
}

.w-\[30\%\] {
  width: 30%;
}

.w-\[300px\] {
  width: 300px;
}

.w-\[350px\] {
  width: 350px;
}

.w-\[480px\] {
  width: 480px;
}

.w-\[50\%\] {
  width: 50%;
}

.w-\[500px\] {
  width: 500px;
}

.w-\[600px\] {
  width: 600px;
}

.w-\[700px\] {
  width: 700px;
}

.w-fit {
  width: fit-content;
}

.w-full {
  width: 100%;
}

.w-max {
  width: max-content;
}

.min-w-\[128px\] {
  min-width: 128px;
}

.max-w-\[1000px\] {
  max-width: 1000px;
}

.max-w-\[40px\] {
  max-width: 40px;
}

.flex-1 {
  flex: 1;
}

.shrink-0 {
  flex-shrink: 0;
}

.-translate-x-\[50\%\] {
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-y-\[50px\] {
  --tw-translate-y: -50px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.cursor-pointer {
  cursor: pointer;
}

.list-disc {
  list-style-type: disc;
}

.flex-col {
  flex-direction: column;
}

.items-start {
  align-items: flex-start;
}

.\!items-center {
  align-items: center !important;
}

.items-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-1 {
  gap: .25rem;
}

.gap-10 {
  gap: 2.5rem;
}

.gap-2 {
  gap: .5rem;
}

.gap-3 {
  gap: .75rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-5 {
  gap: 1.25rem;
}

.gap-6 {
  gap: 1.5rem;
}

.space-y-1 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(.25rem * var(--tw-space-y-reverse));
}

.space-y-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(.5rem * var(--tw-space-y-reverse));
}

.space-y-5 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.25rem * var(--tw-space-y-reverse));
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-y-auto {
  overflow-y: auto;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.break-all {
  word-break: break-all;
}

.\!rounded-\[20px\] {
  border-radius: 20px !important;
}

.rounded-\[20px\] {
  border-radius: 20px;
}

.rounded-\[24px\] {
  border-radius: 24px;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-lg {
  border-radius: .5rem;
}

.rounded-md {
  border-radius: .375rem;
}

.rounded-xl {
  border-radius: .75rem;
}

.rounded-bl-3xl {
  border-bottom-left-radius: 1.5rem;
}

.rounded-br-3xl {
  border-bottom-right-radius: 1.5rem;
}

.rounded-tl-3xl {
  border-top-left-radius: 1.5rem;
}

.rounded-tr-3xl {
  border-top-right-radius: 1.5rem;
}

.border {
  border-width: 1px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-r {
  border-right-width: 1px;
}

.border-t {
  border-top-width: 1px;
}

.border-gray-100 {
  --tw-border-opacity: 1;
  border-color: rgb(243 244 246 / var(--tw-border-opacity));
}

.border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
}

.bg-blue-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(219 234 254 / var(--tw-bg-opacity));
}

.bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.bg-gray-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}

.bg-gray-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(107 114 128 / var(--tw-bg-opacity));
}

.bg-gray-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity));
}

.bg-green-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(220 252 231 / var(--tw-bg-opacity));
}

.bg-red-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(254 226 226 / var(--tw-bg-opacity));
}

.bg-slate-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity));
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.fill-black {
  fill: #000;
}

.fill-blue-600 {
  fill: #2563eb;
}

.fill-gray-500 {
  fill: #6b7280;
}

.fill-green-600 {
  fill: #16a34a;
}

.fill-red-600 {
  fill: #dc2626;
}

.fill-white {
  fill: #fff;
}

.p-0\.5 {
  padding: .125rem;
}

.p-1 {
  padding: .25rem;
}

.p-2 {
  padding: .5rem;
}

.p-3 {
  padding: .75rem;
}

.p-4 {
  padding: 1rem;
}

.px-0\.5 {
  padding-left: .125rem;
  padding-right: .125rem;
}

.px-1 {
  padding-left: .25rem;
  padding-right: .25rem;
}

.px-11 {
  padding-left: 2.75rem;
  padding-right: 2.75rem;
}

.px-2 {
  padding-left: .5rem;
  padding-right: .5rem;
}

.px-2\.5 {
  padding-left: .625rem;
  padding-right: .625rem;
}

.px-3 {
  padding-left: .75rem;
  padding-right: .75rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-1 {
  padding-top: .25rem;
  padding-bottom: .25rem;
}

.py-1\.5 {
  padding-top: .375rem;
  padding-bottom: .375rem;
}

.py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.py-16 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.py-2 {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.py-2\.5 {
  padding-top: .625rem;
  padding-bottom: .625rem;
}

.py-3 {
  padding-top: .75rem;
  padding-bottom: .75rem;
}

.py-3\.5 {
  padding-top: .875rem;
  padding-bottom: .875rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pb-3 {
  padding-bottom: .75rem;
}

.pl-2 {
  padding-left: .5rem;
}

.pl-3 {
  padding-left: .75rem;
}

.pl-4 {
  padding-left: 1rem;
}

.pl-6 {
  padding-left: 1.5rem;
}

.pr-2 {
  padding-right: .5rem;
}

.pr-2\.5 {
  padding-right: .625rem;
}

.pr-4 {
  padding-right: 1rem;
}

.pr-5 {
  padding-right: 1.25rem;
}

.pr-6 {
  padding-right: 1.5rem;
}

.pr-7 {
  padding-right: 1.75rem;
}

.pt-16 {
  padding-top: 4rem;
}

.pt-3 {
  padding-top: .75rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pt-5 {
  padding-top: 1.25rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.text-center {
  text-align: center;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-6xl {
  font-size: 3.75rem;
  line-height: 1;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm {
  font-size: .875rem;
  line-height: 1.25rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-xs {
  font-size: .75rem;
  line-height: 1rem;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.italic {
  font-style: italic;
}

.text-blue-600 {
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity));
}

.text-gray-300 {
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity));
}

.text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}

.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}

.text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity));
}

.text-red-600 {
  --tw-text-opacity: 1;
  color: rgb(220 38 38 / var(--tw-text-opacity));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.underline {
  text-decoration-line: underline;
}

.opacity-0 {
  opacity: 0;
}

.opacity-50 {
  opacity: .5;
}

.opacity-70 {
  opacity: .7;
}

.shadow {
  --tw-shadow: 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.\!filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow) !important;
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;
}

.transition-opacity {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;
}

.delay-150 {
  transition-delay: .15s;
}

.ease-linear {
  transition-timing-function: linear;
}

.fontGs {
  font-family: Google sans;
  letter-spacing: .15px;
}

.fontGsm {
  font-family: Google sans medium;
  letter-spacing: .15px;
}

.fontGst {
  font-family: Google sans text;
  letter-spacing: .1px;
}

.bgBlue {
  background: var(--blue);
}

.bgLightBlue {
  background: var(--lightBlue);
}

.\!bgWhite2 {
  background: #f6f8fa !important;
}

.bgWhite2 {
  background: #f6f8fa;
}

.dark .bg-blue-50, .dark .bg-blue-100, .dark .bg-gray-200 {
  background: #1a1f24;
}

.textBlue, .dark .textBlue {
  color: var(--blue);
}

.textBlue2, .dark .textBlue2 {
  color: var(--blue2);
}

.textBlack {
  color: #3c4043;
}

.dark .textBlack {
  color: #fff;
}

.fillBlue {
  fill: var(--blue);
}

.dark .fill-gray-500 {
  fill: #9ca3af;
}

.dark .border-gray-100, .dark .border-gray-200, .dark .border-gray-300 {
  border-color: #30363db3;
}

.boxShadow {
  box-shadow: 0 1px 2px #3c40434d, 0 2px 6px 2px #3c404326;
}

.boxShadowMenu {
  box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
}

.navbarShadow {
  box-shadow: 0 1px 2px #3c40434d, 0 2px 6px 2px #3c404326;
  border-color: #0000;
}

.flex-3 {
  flex: 3;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.z-3 {
  z-index: 3;
}

.z-51 {
  z-index: 51;
}

.spinAnimation {
  animation: .7s linear infinite spin;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.absoluteYCenter {
  top: 50%;
  transform: translateY(-50%);
}

.borderLightBlue {
  border-color: var(--lightBlue);
}

@font-face {
  font-family: Google sans;
  src: url("/font/Google-sans.woff2");
}

@font-face {
  font-family: Google sans medium;
  src: url("/font/Google-sans-medium.woff2");
}

@font-face {
  font-family: Google sans text;
  src: url("/font/Google-sans-text.woff2");
}

@font-face {
  font-family: Roboto;
  src: url("/font/Roboto-Regular.ttf");
}

.btn, .btn2, .btn3, .btnDisable {
  font-family: Google sans medium;
  padding: 7px 16px;
  min-width: 90px;
  max-width: fit-content;
  border-radius: 4px;
  border: 1px solid #0000;
  text-align: center;
}

.btn {
  background: var(--blue);
  cursor: pointer;
  color: #fff;
}

.btn:hover {
  background: var(--blue2);
}

.btn2 {
  color: var(--blue);
  cursor: pointer;
  background: none;
}

.btn2:hover {
  background: var(--lightBlue);
}

.dark .btn2:hover {
  background: #1a1f24;
  color: #fff;
}

.btn3 {
  color: var(--blue);
  cursor: pointer;
  background: var(--lightBlue);
}

.dark .btn3 {
  background: #1a1f24;
}

.dark .btn3:hover {
  color: #fff;
}

.btnDisable {
  background: #e0e0e0;
  color: #6c757d;
  cursor: not-allowed !important;
}

.dark .btnDisable {
  background: #393939;
}

.textField {
  position: relative;
  width: 100%;
  border: 1px solid #6c757d;
  border-radius: 4px;
  display: flex;
}

.textField.caretNone {
  caret-color: #0000;
}

.textField:focus-within {
  border: 2px solid var(--blue);
}

.textField:focus-within input {
  padding: 13px 9px;
}

.textField label {
  position: absolute;
  top: 13px;
  left: 10px;
  background: none;
  padding: 0 4px;
  transition: all .1s;
  pointer-events: none;
  color: #737373;
}

.textField.showPlaceholder input[placeholder]::-webkit-input-placeholder {
  opacity: 0;
}

.textField.showPlaceholder input[placeholder]:focus::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
  transition: opacity .5s;
}

.textField input {
  background: #fff;
  width: 100%;
  padding: 14px 10px;
  border-radius: 4px;
  opacity: 0;
}

.textField input:focus {
  opacity: 1;
}

.textField input:focus + label {
  font-size: 12px;
  top: -10px;
  color: var(--blue);
  background: #fff;
}

.textField input:valid {
  opacity: 1;
}

.textField input:valid + label {
  font-size: 12px;
  background: #fff;
  top: -10px;
}

.dark .textField input {
  background: #0d1117;
  color: #fff;
}

.dark .textField input:focus + label {
  font-size: 12px;
  background: #0d1117;
}

.dark .textField input:valid + label {
  background: #0d1117;
}

.textField2 {
  width: 100%;
  position: relative;
  border-radius: 6px;
  display: flex;
}

.textField2.caretNone {
  caret-color: #0000;
}

.textField2:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: var(--blue);
  left: 50%;
  transform: translate(-50%, -50%);
  transition: width .2s;
}

.textField2:focus-within:before {
  width: 100%;
}

.textField2 input {
  padding: 14px 12px;
  width: 100%;
  background: var(--lightBlue);
}

.dark .textField2 input {
  background: #1a1f24;
  color: #fff;
}

.textField3 {
  position: relative;
  border-radius: 6px;
  background: #f4f6f9;
  display: flex;
}

.textField3.caretNone {
  caret-color: #0000;
}

.textField3:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: var(--blue);
  left: 50%;
  transform: translate(-50%, -50%);
  transition: width .2s;
}

.textField3:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #6c757d;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity .2s;
}

.textField3:focus-within {
  background: var(--lightBlue);
}

.textField3:focus-within:before {
  width: 100%;
}

.textField3:focus-within:after {
  opacity: 0;
}

.textField3 input {
  padding: 22px 12px 10px;
  width: 100%;
  opacity: 0;
  background: none;
}

.textField3 input:focus, .textField3 input:valid {
  opacity: 1;
}

.textField3 input:focus + label, .textField3 input:valid + label {
  font-size: 12px;
  top: 4px;
  color: var(--blue);
}

.textField3 label {
  position: absolute;
  top: 16px;
  left: 12px;
  pointer-events: none;
  color: #737373;
  transition: all .2s;
}

.dark .textField3 {
  background: #1a1f24;
}

.dark .textField3:focus-within {
  background: #1a1f24;
}

.dark .textField3 input {
  color: #fff;
}

.hoverIconSkeleton {
  position: relative;
  width: fit-content;
  height: fit-content;
}

.hoverIconSkeleton:before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #0000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.hoverIconSkeleton:hover, .hoverIconSkeleton.active {
  cursor: pointer;
}

.hoverIconSkeleton:hover:before, .hoverIconSkeleton.active:before {
  background: var(--lightBlue) !important;
}

.hoverIconSkeleton:hover > svg, .hoverIconSkeleton.active > svg {
  fill: var(--blue) !important;
}

.hoverIconSkeleton.activeIconOnly > svg {
  fill: var(--blue) !important;
}

.dark .hoverIconSkeleton:hover:before, .dark .hoverIconSkeleton.active:before {
  background: #21262d !important;
}

.hoverScale {
  transition: transform .15s;
}

.hoverScale:hover {
  transform: scale(1.03);
}

.contentEditableDiv:empty:before {
  content: attr(data-placeholder);
  display: block;
  height: 100%;
  color: #737373;
}

.contentEditableDiv b, .contentEditableDiv i, .contentEditableDiv u {
  font-size: inherit;
}

.contentEditableDiv a {
  color: #00f;
  text-decoration: underline;
  cursor: pointer;
  word-wrap: break-word;
}

.contentEditableDiv ul li {
  list-style: disc !important;
}

.contentEditableDiv ol li {
  list-style: decimal !important;
}

.contentEditableDiv ul, .contentEditableDiv ol {
  position: relative;
  left: 28px;
}

.contentEditableDiv img {
  width: 100%;
  height: auto;
}

.contentEditableDiv hr {
  opacity: 0;
  padding: 1px 0;
}

.navbarActiveLine2, .navbarActiveLine4, .navbarActiveLine12 {
  width: 100%;
  position: absolute;
  bottom: -1px;
  left: 0;
}

.navbarActiveLine2 .line {
  width: 0;
  height: 4px;
  background-color: var(--blue);
  position: absolute;
  left: 0;
  bottom: 0;
}

.navbarActiveLine2 .line1 {
  border-radius: 8px 8px 0 0;
  transition: left .25s, width .25s;
}

.navbarActiveLine2 .line2 {
  border-radius: 8px 8px 0 0;
  transition: left .25s .15s, width .25s .15s;
}

.navbarActiveLine4 .line {
  width: 0;
  height: 4px;
  background-color: var(--blue);
  position: absolute;
  left: 0;
  bottom: 0;
}

.navbarActiveLine4 .line1 {
  border-radius: 8px 8px 0 0;
  transition: left .25s, width .25s;
}

.navbarActiveLine4 .line2 {
  border-radius: 8px 8px 0 0;
  transition: left .25s 50ms, width .25s 50ms;
}

.navbarActiveLine4 .line3 {
  border-radius: 8px 8px 0 0;
  transition: left .25s .1s, width .25s .1s;
}

.navbarActiveLine4 .line4 {
  border-radius: 8px 8px 0 0;
  transition: left .25s .15s, width .25s .15s;
}

.navbarActiveLine12 .line {
  width: 0;
  height: 4px;
  background-color: var(--blue);
  position: absolute;
  left: 0;
  bottom: 0;
}

.navbarActiveLine12 .line1 {
  border-radius: 8px 8px 0 0;
  transition: left .25s, width .25s;
}

.navbarActiveLine12 .line2 {
  border-radius: 8px 8px 0 0;
  transition: left .25s 13.6ms, width .25s 13.6ms;
}

.navbarActiveLine12 .line3 {
  border-radius: 8px 8px 0 0;
  transition: left .25s 27.2ms, width .25s 27.2ms;
}

.navbarActiveLine12 .line4 {
  border-radius: 8px 8px 0 0;
  transition: left .25s 40.8ms, width .25s 40.8ms;
}

.navbarActiveLine12 .line5 {
  border-radius: 8px 8px 0 0;
  transition: left .25s 54.4ms, width .25s 54.4ms;
}

.navbarActiveLine12 .line6 {
  border-radius: 8px 8px 0 0;
  transition: left .25s 68ms, width .25s 68ms;
}

.navbarActiveLine12 .line7 {
  border-radius: 8px 8px 0 0;
  transition: left .25s 81.6ms, width .25s 81.6ms;
}

.navbarActiveLine12 .line8 {
  border-radius: 8px 8px 0 0;
  transition: left .25s 95.2ms, width .25s 95.2ms;
}

.navbarActiveLine12 .line9 {
  border-radius: 8px 8px 0 0;
  transition: left .25s .1088s, width .25s .1088s;
}

.navbarActiveLine12 .line10 {
  border-radius: 8px 8px 0 0;
  transition: left .25s .1224s, width .25s .1224s;
}

.navbarActiveLine12 .line11 {
  border-radius: 8px 8px 0 0;
  transition: left .25s .136s, width .25s .136s;
}

.navbarActiveLine12 .line12 {
  border-radius: 8px 8px 0 0;
  transition: left .25s .1496s, width .25s .1496s;
}

.squareCheckbox * {
  box-sizing: border-box;
}

.squareCheckbox .cbx {
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  padding: 4px;
  border-radius: 6px;
  overflow: hidden;
  transition: all .2s;
  display: inline-block;
  transform: translateY(2px);
}

.squareCheckbox .cbx:not(:last-child) {
  margin-right: 0;
}

.squareCheckbox .cbx span {
  float: left;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}

.squareCheckbox .cbx span:first-child {
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  transform: scale(1);
  border: 1px solid gray;
  transition: all .2s;
  box-shadow: 0 1px 1px #00104b0d;
}

.squareCheckbox .cbx span:first-child svg {
  position: absolute;
  top: 2px;
  left: 1px;
  fill: none;
  stroke: #fff;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16;
  stroke-dashoffset: 16px;
  transition: all .3s;
  transition-delay: .1s;
  transform: translate3d(0, 0, 0);
}

.squareCheckbox .cbx span:last-child {
  padding-left: 0;
  line-height: 16px;
}

.squareCheckbox .cbx:hover span:first-child {
  border-color: var(--blue);
}

.squareCheckbox .inp-cbx {
  position: absolute;
  visibility: hidden;
}

.squareCheckbox .inp-cbx:checked + .cbx span:first-child {
  background: var(--blue);
  border-color: var(--blue);
  animation: .4s wave-4;
}

.squareCheckbox .inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}

.squareCheckbox .inline-svg {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  user-select: none;
}

@keyframes wave-4 {
  50% {
    transform: scale(.9);
  }
}

@-webkit-keyframes wave-4 {
  50% {
    transform: scale(.9);
  }
}

@-moz-keyframes wave-4 {
  50% {
    transform: scale(.9);
  }
}

@-o-keyframes wave-4 {
  50% {
    transform: scale(.9);
  }
}

.circleCheckbox .cbx {
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: #0000;
  cursor: pointer;
}

.circleCheckbox .cbx span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}

.circleCheckbox .cbx span:first-child {
  position: relative;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  transform: scale(1);
  vertical-align: middle;
  border: 1px solid #6b7280;
  transition: all .2s;
}

.circleCheckbox .cbx span:first-child svg {
  position: absolute;
  z-index: 1;
  top: 4px;
  left: 2px;
  fill: none;
  stroke: #fff;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16;
  stroke-dashoffset: 16px;
  transition: all .3s;
  transition-delay: .1s;
  transform: translate3d(0, 0, 0)translate(-1px, -1px);
}

.circleCheckbox .cbx span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background: var(--blue);
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
  transition-delay: .2s;
}

.circleCheckbox .cbx span:last-child:after {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  height: 1px;
  width: 100%;
  background: #6b7280;
  transform-origin: 0 0;
  transform: scaleX(0);
}

.circleCheckbox .cbx:hover span:first-child {
  border-color: var(--blue);
}

.circleCheckbox .inp-cbx {
  display: none;
}

.circleCheckbox .inp-cbx:checked + .cbx span:first-child {
  border-color: var(--blue);
  background: var(--blue);
  animation: .6s check-15;
}

.circleCheckbox .inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}

.circleCheckbox .inp-cbx:checked + .cbx span:first-child:before {
  transform: scale(2.2);
  opacity: 0;
  transition: all .6s;
}

.circleCheckbox .inp-cbx:checked + .cbx span:last-child {
  transition: all .3s;
}

.circleCheckbox .inp-cbx:checked + .cbx span:last-child:after {
  transition: all .3s;
}

@keyframes check-15 {
  50% {
    transform: scale(1.2);
  }
}

.toggleSwitch {
  width: fit-content;
  cursor: pointer;
}

.toggleSwitch label {
  position: relative;
  cursor: pointer;
}

.toggleSwitch label input {
  width: 0;
  height: 0;
  position: absolute;
}

.toggleSwitch label input:checked ~ .line {
  background: var(--lightBlue2);
}

.toggleSwitch label input:checked ~ .circle {
  transform: translateX(22px);
  background: var(--blue);
}

.toggleSwitch label input:checked ~ .circle .done {
  display: block;
}

.toggleSwitch label input:checked ~ .circle .undone {
  display: none;
}

.toggleSwitch label .line {
  width: 36px;
  height: 16px;
  border-radius: 14px;
  background: #d9d9d9;
  transition: all .1s;
}

.toggleSwitch label .circle {
  width: 22px;
  height: 22px;
  background: #6c757d;
  border-radius: 50%;
  position: absolute;
  top: -3px;
  left: -4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .1s;
}

.toggleSwitch label .circle svg {
  fill: #fff;
}

.toggleSwitch label .circle .done {
  display: none;
}

.lineLoader {
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
}

.lineLoader .wrapper {
  width: 100%;
  background: var(--lightBlue);
  height: 4px;
  position: relative;
}

.lineLoader .wrapper .b1, .lineLoader .wrapper .c1, .lineLoader .wrapper .b, .lineLoader .wrapper .c {
  height: 4px;
  position: absolute;
  width: 100%;
}

.lineLoader .wrapper .b {
  background: var(--blue);
  transition: none;
  transform: scaleX(0);
  transform-origin: 0 0;
  animation: 2.5s linear infinite primaryIndeterminateTranslate;
}

.lineLoader .wrapper .b1 {
  background: var(--lightBlue);
  animation: 2.5s linear infinite primaryIndeterminateScale;
}

.lineLoader .wrapper .c {
  animation: 2.5s linear infinite auxiliaryIndeterminateTranslate;
  background: var(--blue);
}

.lineLoader .wrapper .c1 {
  background: var(--lightBlue);
  animation: 2.5s linear infinite auxiliaryIndeterminateScale;
}

.dark .lineLoader .wrapper, .dark .lineLoader .b1, .dark .lineLoader .c1 {
  background: #1a1f24;
}

@keyframes primaryIndeterminateTranslate {
  0% {
    transform: translateX(-145.167%);
  }

  20% {
    animation-timing-function: cubic-bezier(.5, 0, .701732, .495819);
    transform: translateX(-145.167%);
  }

  59.15% {
    animation-timing-function: cubic-bezier(.302435, .381352, .55, .956352);
    transform: translateX(-61.4952%);
  }

  to {
    transform: translateX(100%);
  }
}

@keyframes primaryIndeterminateScale {
  0% {
    transform: scaleX(.08);
  }

  36.65% {
    animation-timing-function: cubic-bezier(.334731, .12482, .785844, 1);
    transform: scaleX(.08);
  }

  69.15% {
    animation-timing-function: cubic-bezier(.06, .11, .6, 1);
    transform: scaleX(.661479);
  }

  to {
    transform: scaleX(.08);
  }
}

@keyframes auxiliaryIndeterminateTranslate {
  0% {
    animation-timing-function: cubic-bezier(.15, 0, .515058, .409685);
    transform: translateX(-100.889%);
  }

  25% {
    animation-timing-function: cubic-bezier(.31033, .284058, .8, .733712);
    transform: translateX(-17.237%);
  }

  48.35% {
    animation-timing-function: cubic-bezier(.4, .627035, .6, .902026);
    transform: translateX(29.4973%);
  }

  to {
    transform: translateX(105.389%);
  }
}

@keyframes auxiliaryIndeterminateScale {
  0% {
    animation-timing-function: cubic-bezier(.205028, .057051, .57661, .453971);
    transform: scaleX(.08);
  }

  19.15% {
    animation-timing-function: cubic-bezier(.152313, .196432, .648374, 1.00432);
    transform: scaleX(.457104);
  }

  44.15% {
    animation-timing-function: cubic-bezier(.257759, .003163, .211762, 1.38179);
    transform: scaleX(.72796);
  }

  to {
    transform: scaleX(.08);
  }
}

.spinLoader .loader {
  width: 34px;
  height: 34px;
  padding: 4px;
  border-radius: 100%;
  flex-shrink: 0;
}

.spinLoader .circularLoader {
  animation: .5s linear infinite spinPreloaderRotate;
}

.spinLoader .loaderPath {
  stroke: var(--blue);
  fill: none;
  stroke-width: 5px;
  animation: 3s ease-in-out infinite animateStroke;
  stroke-linecap: round;
}

@keyframes spinPreloaderRotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animateStroke {
  0% {
    stroke-dasharray: 1 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dasharray: 89 200;
    stroke-dashoffset: -124px;
  }
}

.spinLoader2 {
  width: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, var(--blue) 94%, #0000) top / 4px 4px no-repeat, conic-gradient(#0000 30%, var(--blue));
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 4px), #000 0);
  animation: .5s linear infinite spinerLoader2Animate;
}

@keyframes spinerLoader2Animate {
  100% {
    transform: rotate(1turn);
  }
}

.myClassList .bgDeep, .openClass .bgDeep {
  background: var(--deepColor);
}

.myClassList .archivedClassBg, .openClass .archivedClassBg {
  background-image: repeating-linear-gradient(-135deg, #0000, #0000 .5625rem, #ffffff4d .5625rem .625rem);
  background-size: .883884rem .883884rem;
  bottom: -50%;
  left: -50%;
  position: absolute;
  right: -50%;
  top: -50%;
  transform: rotateZ(15deg);
}

.myClassList .classBgShine:after, .openClass .classBgShine:after {
  content: "";
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  pointer-events: none;
  animation: 10s linear infinite slide;
  background: -moz-linear-gradient(left, #fff0 0%, #fffc 50%, #80bae800 99%, #7db9e800 100%);
  background: -webkit-gradient(linear, left top, right top, from(#fff0), color-stop(.5, #fffc), color-stop(.99, #80bae800), to(#7db9e800));
  background: -webkit-linear-gradient(left, #fff0 0%, #fffc 50%, #80bae800 99%, #7db9e800 100%);
  background: -o-linear-gradient(left, #fff0 0%, #fffc 50%, #80bae800 99%, #7db9e800 100%);
  background: -ms-linear-gradient(left, #fff0 0%, #fffc 50%, #80bae800 99%, #7db9e800 100%);
  background: linear-gradient(to right, #fff0 0%, #fffc 50%, #80bae800 99%, #7db9e800 100%);
  filter: progid:DXImageTransform. Microsoft. gradient(startColorstr= "#00ffffff", endColorstr= "#007db9e8", GradientType= 1);
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }

  10% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.myClassList .viewAllBtn, .openClass .viewAllBtn {
  color: var(--deepColor);
}

.myClassList .viewAllBtn:hover, .openClass .viewAllBtn:hover {
  background-color: var(--lightColor);
}

.myClassList .middleSection .hoverTextDeep:hover, .openClass .middleSection .hoverTextDeep:hover {
  color: var(--deepColor);
}

.myClassList .hoverIconSkeleton:hover:before, .myClassList .hoverIconSkeleton.active:before, .openClass .hoverIconSkeleton:hover:before, .openClass .hoverIconSkeleton.active:before {
  background: var(--lightColor) !important;
}

.myClassList .hoverIconSkeleton:hover > svg, .myClassList .hoverIconSkeleton.active > svg, .openClass .hoverIconSkeleton:hover > svg, .openClass .hoverIconSkeleton.active > svg {
  fill: var(--deepColor) !important;
}

.myClassList .hoverIconSkeleton.activeIconOnly > svg, .openClass .hoverIconSkeleton.activeIconOnly > svg {
  fill: var(--deepColor) !important;
}

.myClassList .pendingMsgDot > div, .openClass .pendingMsgDot > div {
  background-color: var(--deepColor);
}

.myClassList .dotMenu .fillDeep, .openClass .dotMenu .fillDeep {
  fill: var(--deepColor);
}

.myClassList .dotMenu .liHover:hover, .openClass .dotMenu .liHover:hover {
  background: var(--lightColor);
}

.myClassList .dotMenu .liHover:hover svg, .openClass .dotMenu .liHover:hover svg {
  fill: var(--deepColor);
}

.myClassList .dotMenu .liHover:hover div, .openClass .dotMenu .liHover:hover div {
  color: var(--deepColor);
}

html {
  scroll-behavior: smooth;
}

html body {
  --blue: #007bff;
  --blue2: #0069da;
  --lightBlue: #e8f0fe;
  --lightBlue2: #9fc3fe;
}

html body input {
  outline: none;
}

html body div {
  outline: none;
}

.dark body {
  background: #0d1117;
}

.dark body *, .dark body div, .dark body p, .dark body h1, .dark body h2, .dark body h3, .dark body h4, .dark body h5.h6, .dark body span, .dark body a, .dark body button {
  color: #fff;
}

.pageLoadTransition {
  opacity: 0;
  transition: opacity .5s ease-in-out;
}

.noSelect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hyperlink {
  color: var(--blue);
}

.hyperlink:hover {
  cursor: pointer;
  text-decoration: underline;
}

.last\:border-b-0:last-child {
  border-bottom-width: 0;
}

.focus-within\:boxShadowMenu:focus-within {
  box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
}

.hover\:cursor-pointer:hover {
  cursor: pointer;
}

.hover\:bg-blue-100:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(219 234 254 / var(--tw-bg-opacity));
}

.hover\:bg-blue-50:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(239 246 255 / var(--tw-bg-opacity));
}

.hover\:bg-gray-200:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}

.hover\:bg-white:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.hover\:underline:hover {
  text-decoration-line: underline;
}

.hover\:outline:hover {
  outline-style: solid;
}

.hover\:outline-2:hover {
  outline-width: 2px;
}

.hover\:ring-1:hover {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.hover\:ring-4:hover {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(4px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.hover\:ring-blue-600:hover {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(37 99 235 / var(--tw-ring-opacity));
}

.hover\:ring-gray-200:hover {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(229 231 235 / var(--tw-ring-opacity));
}

.hover\:ring-green-200:hover {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(187 247 208 / var(--tw-ring-opacity));
}

.hover\:ring-red-200:hover {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(254 202 202 / var(--tw-ring-opacity));
}

.hover\:bgBlue2:hover {
  background: var(--blue2);
}

.hover\:bgLightBlue:hover {
  background: var(--lightBlue);
}

.dark .hover\:bg-blue-50:hover {
  background: #1a1f24;
}

.dark .hover\:bg-blue-100:hover {
  background: #1a1f24;
}

.dark .hover\:bg-gray-200:hover {
  background: #1a1f24;
}

.hover\:textBlue:hover, .dark .hover\:textBlue:hover {
  color: var(--blue);
}

.hover\:borderBlue:hover {
  border-color: var(--blue);
}

.focus\:borderBlue:focus {
  border-color: var(--blue);
}

.group:hover .group-hover\:visible {
  visibility: visible;
}

.group\/menu:hover .group-hover\/menu\:block {
  display: block;
}

.group\/menu:hover .group-hover\/menu\:hidden {
  display: none;
}

.group\/svgIconTitle:hover .group-hover\/svgIconTitle\:opacity-100 {
  opacity: 1;
}

.dark\:\!bgBlack:is(.dark *) {
  background: #010409 !important;
}

.dark\:bgBlack:is(.dark *) {
  background: #010409;
}

.dark\:bgBlack2:is(.dark *) {
  background: #0d1117;
}

.dark\:bgBlack3:is(.dark *) {
  background: #1a1f24;
}

.dark\:bgBlack4:is(.dark *) {
  background: #21262d;
}

.dark\:hover\:ring-gray-600:hover:is(.dark *) {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(75 85 99 / var(--tw-ring-opacity));
}

.dark\:hover\:bgBlack2:hover:is(.dark *) {
  background: #0d1117;
}

.dark\:hover\:bgBlack3:hover:is(.dark *) {
  background: #1a1f24;
}

/*# sourceMappingURL=src_scss_main_scss_b52d8e.css.map*/